<!-- Next line assigns color: green in scaffolds.scss -->
<p id="notice"><%= notice %></p>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <h1>Current Blog Posts</h1>
  <% @posts.each do |post| %>
    <div class="panel panel-default">
      <!-- <div class="panel-heading"> By ...<%= @post.user.email %></div> -->
      <div class="panel-heading"> 
          By ...<%= link_tp post.user.username, user_posts_path(:id post.user.id) %></div>
        <div class="panel-body"><%= post.blog_entry %></div>
          <div class="panel-footer">
            <button class="btn btn-primary"><%= link_to 'Show', post %></button>
            <button class="btn btn-warning"><%= link_to 'Edit', edit_post_path(post) %></button>
            <button class="btn btn-danger"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </div> 
    </div>
  <%end%>
<!-- next line for 'kaminari' -->
<%= paginate @posts %>
<h3>
<%= link_to 'New Blog Post', new_post_path %>
</h3>
</body>