<h1>Practice#about</h1>
<p>Find me in app/views/practice/about.html.erb</p>

<!-- Remember, internal stylesheet is not the best,
    but we have no way to get a Ruby instance
    variable into a CSS file, so we don't have
    much of an alternative here

	instance variable @color was set by
    app/controllers/practice_controller.rb about method
    before we got here
     -->
<style>

    #color_me_in {
        background-color: <%= @color %>;
        color: white;
        width: 250px;
        height: 250px;
    }

</style>

<div id="color_me_in">
    <p>
        <%= @color.upcase %> BOX ACTIVATED!
    </p>
</div>

<!-- show a form that takes input and transmits it back to controller's
	 index action
    Since form_tag defaults to POST, we update routes.rb with a post for the index action -->
<%= form_tag index_path do %>
	<!-- text_field_tag creates a text field for user input
		Value entered is stored in :name, gets passed to controller 
		index action where it's retirieved as params[:name]-->
    <p><%= text_field_tag :name, nil, placeholder: "What's your name?" %></p>
    <p><%= submit_tag "submit" %></p>

<% end %>